<mat-card>
    <mat-card-title>Recuperación de cuenta</mat-card-title>
        <form class="example-form"  [formGroup]="formRecuperacion">
            <mat-form-field class="example-full-width"> 
                <input matInput placeholder="Contraseña" type="password" minlength="6" maxlength="12" required formControlName="clave">
            </mat-form-field>

            <mat-form-field class="example-full-width"> 
                <input matInput placeholder="Repetir Contraseña" type="password" minlength="6" maxlength="12" required formControlName="repetirClave">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" class="boton">
                <span>Enviar</span>
            </button>
        </form>
        <br>
</mat-card>
