<div class="example-container">
  <mat-toolbar style="background: #228B22;" class="example-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">{{titulo}}</h1>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <!--Todos los roles-->
      <button mat-menu-item routerLink="./miperfil">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <!--Todos los roles-->
      <button mat-menu-item (click)="sidenav.opened = false" (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px">

      <mat-divider></mat-divider>
      <div *ngIf="rolUsuario !== 'Administrador'">
        <button mat-menu-item style="cursor: pointer" routerLink="" (click)="sidenav.opened = false">
          <mat-icon>assessment</mat-icon>
          <span>Mi trazabilidad</span>
        </button>
        <mat-divider></mat-divider>
      </div>


      <div *ngIf="rolUsuario === 'Administrador'">
        <!--Administrador-->
        <button mat-menu-item style="cursor: pointer" routerLink="" (click)="sidenav.opened = false">
          <mat-icon>assessment</mat-icon>
          <span>Trazabilidades</span>
        </button>
        <mat-divider></mat-divider>
      </div>

      <!--Todos los roles-->
      <button mat-menu-item style="cursor: pointer" routerLink="" (click)="sidenav.opened = false">
        <mat-icon>post_add</mat-icon>
        <span>Peticiones</span>
      </button>
      <mat-divider></mat-divider>

      <div *ngIf="rolUsuario !== 'Administrador' && rolUsuario !== 'Estudiante'">
        <!--docentes, administrativos-->
        <button mat-menu-item style="cursor: pointer" routerLink="./eventos" (click)="sidenav.opened = false">
          <mat-icon>calendar_today</mat-icon>
          <span>Eventos</span>
        </button>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="rolUsuario === 'Administrador'">
        <!--administrador-->
        <button mat-menu-item style="cursor: pointer" routerLink="./usuarios" (click)="sidenav.opened = false">
          <mat-icon>supervised_user_circle</mat-icon>
          <span>Usuarios</span>
        </button>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="rolUsuario === 'Administrador'">
        <!--administrador-->
        <button mat-menu-item style="cursor: pointer" routerLink="./lectores" (click)="sidenav.opened = false">
          <mat-icon>build</mat-icon>
          <span>Lectores</span>
        </button>
        <mat-divider></mat-divider>
      </div>


      <button mat-menu-item style="cursor: pointer" routerLink="./notificaciones" (click)="sidenav.opened = false">
        <mat-icon>notifications</mat-icon>
        <span>Notificaciones</span>
      </button>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>