.example-header{
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-table{
    overflow: auto;
    max-height: 500px;
}

.mat-column-Estado {
    flex: 0 0 10% !important;
    width: 10%;
}

.mat-column-Visibilidad {
    flex: 0 0 10% !important;
    width: 10%;
}

.mat-column-Lugar {
    flex: 0 0 10% !important;
    width: 60%;
}






