<div class="example-header">

    <div [hidden]="isVisible">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar lector">
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort>

            <div [hidden]="true">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
            </div>

            <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre_modulo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Codigo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.codigo_lector}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Zona">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Zona </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre_zona}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row">

                    <div *ngIf="row.estado === 'DESHABILITADO'">
                        <button mat-button (click)="habilitarLector(row.id)" matTooltip="Habilitar">
                            <mat-icon>check</mat-icon>
                        </button>
                    </div>

                    <div *ngIf="row.estado === 'HABILITADO'">
                        <button mat-button (click)="deshabilitarLector(row.id)" matTooltip="Deshabilitar">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>

                    <button mat-button (click)="obtenerLector(row.id)" matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        <br />
        <button mat-fab type="button" (click)="showForm()" style="float: right; background-color: green;">
            <mat-icon>create</mat-icon>
        </button>

        <button mat-raised-button (click)="redirectZonas()">
            <span>Zonas</span>
        </button>
    </div>

    <div [hidden]="!isVisible">
        <mat-card>Ingrese los datos del lector</mat-card>
        <form class="example-container" [formGroup]="formLectores" (ngSubmit)="operar()">

            <div [hidden]="true">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="ID" required formControlName="id">
                </mat-form-field>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre Módulo" minlength="3" maxlength="50" required
                    formControlName="nombreModulo">
            </mat-form-field>
            <div class="alert-danger" *ngIf="nombreModulo.invalid && (nombreModulo.dirty || nombreModulo.touched)">
                <div class="container-error-message" *ngIf="nombreModulo.errors.required">
                    Nombre del lector es requerido
                </div>
                <div class="container-error-message" *ngIf="nombreModulo.errors.minlength">
                    Mínimo 3 caracteres
                </div>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Código lector" minlength="6" maxlength="32" required
                    formControlName="codigoLector">
            </mat-form-field>

            <div class="alert-danger" *ngIf="codigoLector.invalid && (codigoLector.dirty || codigoLector.touched)">
                <div class="container-error-message" *ngIf="codigoLector.errors.required">
                    Código es requerido
                </div>
                <div class="container-error-message" *ngIf="codigoLector.errors.minlength">
                    Mínimo 6 caracteres
                </div>
            </div>

            <div *ngIf="campoZona">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="zona actual" formControlName="actual">
                </mat-form-field>
            </div>

            <mat-form-field>
                <mat-label>Zonas disponibles</mat-label>
                <mat-select formControlName="zona">
                    <mat-option *ngFor="let zona of this.arrayZonas" [value]="zona.id">
                        {{zona.nombre_zona}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button type="submit" [disabled]='!formLectores.valid'>
                <mat-icon>done</mat-icon>
                <span>Aceptar</span>
            </button>
            <button mat-raised-button type="button" (click)="hideForm()">
                <mat-icon>close</mat-icon>
                <span>Cancelar</span>
            </button>

        </form>
    </div>
</div>