<div class="foto-opciones">
    <form class="example-form" [formGroup]="formFoto" (ngSubmit)="subir()" enctype="multipart/form-data">
        <img src="" width="80" height="80"><br>
        <input id="singleFile" type="file" name="archivoFoto" accept="image/jpg,image/jpeg"
            (change)="capturarFoto($event.target.files)" formControlName="archivo"/>
        <br><br>
        <button mat-button style="float: none; background-color: green;">
            <span>Guardar fotografia</span>
            <mat-icon>cloud_upload</mat-icon>
        </button>
        <br>
    </form>
</div>
<div class="contenedor">
    <mat-card>Datos personales</mat-card>
    <br>
    <label>Apellidos: <span>{{usuario.apellidos}}</span> </label>
    <br><br>
    <label>Nombres: <span>{{usuario.nombres}}</span> </label>
    <br><br>
    <label>Cargo: <span>{{usuario.rol}}</span> </label>
    <br><br>
    <label>Identificacion: <span>{{usuario.identificacion}}</span> </label>
    <br><br>
    <button mat-button style="float: none; background-color: green;" (click)="dialogoRecuperacion()">
        <span>Cambiar contraseña</span>
        <mat-icon>edit</mat-icon>
    </button>
</div>