
:host{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
}

.mat-card-title{
    display: flex;
    justify-content: center;
}

button{
    width: 45%;
    background-color: #228B22;
}
.alert-danger{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
}
.container-error-message{
    padding: 3px;
}