:host{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
}

.mat-card-title{
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
    background-color: #228B22;
}

a{
    text-align: center;
}





