:host{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.mat-form-field{
    width: 100%;
    min-width: 100px;
}

.mat-card-title{
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
    background-color: #228B22;
}