body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif; background-color: rgb(243, 233, 233);}
*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
.alert-danger{color: #721c24;background: #f8d7da;border-color: #f5c6cb;margin-bottom: 5px;}
.container-error-message{padding: 3px; }