<mat-card>
    <mat-card-title>Recuperación de contraseña</mat-card-title>
        <form class="example-form"  [formGroup]="formRecuperacion" (ngSubmit)="enviar()">
            <mat-form-field class="example-full-width"> 
                <input matInput placeholder="Correo electronico registrado" type="email" maxlength="200" required formControlName="correo">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" class="boton">
                <span>Enviar</span>
            </button>
        </form>
        <br>
</mat-card>